MONGO_URI=mongodb://danishsiddiquiabc_db_user:ggAWzRmevLS8a0sO@cluster0-shard-00-00.fznjsbb.mongodb.net:27017,cluster0-shard-00-01.fznjsbb.mongodb.net:27017,cluster0-shard-00-02.fznjsbb.mongodb.net:27017/HyattResidency?ssl=true&replicaSet=atlas-fznjsbb-shard-0&authSource=admin&retryWrites=true&w=majority
SECRET_KEY=sk_test_51TStnN2K7aeRaHzmW71o0qOemSBzlthMEHEL4Mu9T3sW1nvZB6koeBMLrEB87PdhfVR4SOsfSx2ffbbtoCzUyyuO00inXB01FF
SESSION_SECRET=danish_Siddiqui_786_Hyatt_Residency_Private_Key_99